/.DS_STORE
/update.sh
/_minted-sample
/sample.aux
/sample.code
/sample.dfn
/sample.ex
/sample.fdb_latexmk
/sample.fls
/sample.log
/sample.out
/sample.synctex.gz
/sample.tec
/sample.toc
/sample.thm
/sample.xdv
